<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/STARTER/skeleton_back/markingtests/tests" />
        <option value="$PROJECT_DIR$/rest-api-crud/tests/Unit" />
        <option value="$PROJECT_DIR$/rest-api-crud/tests/Feature" />
        <option value="$PROJECT_DIR$/STARTER/markingtests/tests" />
      </list>
    </option>
  </component>
</project>